/* h */

h2 {
	font-family: montserrat;
	font-size: 2em;
	color:#ffffff;
}

h3{
	font-family: montserrat;
	font-size: 1.4em;
}

p {
    font-family: montserrat;
    color: #ffffff;
}

body {
    background: #ffffff;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#nav {
    width: 100vw;
    height: 100px;
    background: #ffffff;
}

#logo {
    width: 60px;
    height: 60px;
    background-image: url(../img/logo1.svg);
    background-size: cover;
    position: absolute;
    z-index: 1000;
    margin-top: 20px;
    margin-left: 60px;
}

#nav ul {
    padding-top: 40px;
    margin-left: 50vw;
}

#nav li {
    display: inline;
}

#nav a {
    text-decoration: none;
    font-family: montserrat;
    font-size: 1.1em;
    color: #1D00FF;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 4vw;;
}

/* main */

main {
    margin-top: 100px;
}

#hero {
    width: 100vw;
    min-height: 50vh;
    background-image: url(../img/hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#herocontainer {
    padding: 5vw;
    padding-left: 10%;
    padding-bottom: 15vw;
}

#intro {
    min-width: 80vw;
    min-height: 200px;
    margin: 0 auto;
}

#intro h2 {
    font-family: montserrat;
    font-size: 4em;;
    font-weight: bold;
}

#intro p {
    font-size: 1.6em;
    margin-top: 40px;
    margin-right: 37vw;
    margin-bottom: 40px;
}

#container {
    width: 80vw;
    background: #ffffff;
    margin: 0 auto;
    padding: 5vw;
    margin-top: -120px;
}

#playlist {
    font-size: 1.4em;
    font-weight: bold;
    color: #1D00FF;
    margin-bottom: 5vw;
}

/* accordion */

#accordion h3 {
    height: 80px;
    font-size: 1.2em;
    line-height: 80px;
    position: relative;
    padding-left: 60px;
}

.ui-accordion .ui-accordion-header {
    margin: 0;
    border-radius: 0;
    padding: 0;
}

.ui-accordion .ui-accordion-content {
    border-radius: 0;
    padding: 0;
    max-height: 750px;
    position: relative;
}

.ui-state-default {
    background: #ffffff;
    color: #4B4B4B;
    font-weight: bold;
}

.ui-state-active {
    color: #1D00FF;
    font-weight: bold;
}

.arrow {
    width: 40px;
    height: 40px;
    background-image: url(../img/arrow1.svg);
    background-size: cover;
    border: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

.ui-state-active .arrow {
    background-image: url(../img/arrow2.svg);
    top: 15px;
}

#roodintro {
    width: 115px;
    height: 40px;
    background-image: url(../img/intro.svg);
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.workshop {
    width: 146px;
    height: 40px;
    background-image: url(../img/workshop.svg);
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.downloads {
    width: 195px;
    height: 40px;
    background-image: url(../img/downloads.svg);
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 20px;
    right: 185px;
}

/* accordion content */

.videoTitle {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    margin: 20px;
    display: none;
}

.toggle {
    width: 100px;
    height: 100px;
    background-image: url(../img/play.svg);
    background-size: cover;
    border: none;
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 46%;
    left: 46%;
    display: none;
}

.pause {
    width: 100px;
    height: 100px;
    background-image: url(../img/pause.svg);
    background-size: contain;
}

.rewind {
    width: 70px;
    height: 70px;
    background-image: url(../img/rewind.svg);
    background-size: cover;
    border: none;
    padding: 0;
    position: absolute;
    z-index: 3;
    top: 48%;
    left: 37%;
    display: none;
}

.done {
    width: 70px;
    height: 70px;
    background-image: url(../img/done2.svg);
    background-size: cover;
    border: none;
    padding: 0;
    position: absolute;
    z-index: 3;
    top: 48%;
    right: 37.5%;
    display: none;
}

.container2:hover .videoTitle {
    display: block;
}

.container2:hover .rewind {
    display: block;
}

.container2:hover .toggle {
    display: block;
}

.container2:hover .done {
    display: block;
}

.done2 {
    width: 115px;
    height: 40px;
    background-image: url(../img/done.svg);
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    position: relative;
    top: 10px;
    left: 10px;
    display: none;
}

/* modal */

.ui-dialog {
    min-width: 500px;
    min-height: 300px;
    background: #ffffff;
}

.ui-widget.ui-widget-content {
    border-style: none;
    border-radius: 0;
    text-align: center;
}

.ui-dialog .ui-widget-content p {
    color: #1D00FF;
    font-size: 1.6em;
    font-weight: 600;
    margin-top: 85px;
}

.ui-dialog-titlebar {
    border: none;
    border-radius: 0;
    background: #ffffff;
}

.ui-widget-content .ui-state-default {
    background: #ffffff;
    border-style: none;
}

.ui-dialog-titlebar-close {
    border-style: none;
    border-radius: 0;
    background-image: url(../img/close2.svg);
    background-size: cover;
}

.ui-dialog-titlebar-close:hover {
    background-image: url(../img/close.svg);
    background-size: cover;
    border-style: none;
}

/* support */

#support {
    color: #1D00FF;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 7vw;
    margin-bottom: 5vw;
}

.supporttext{
    color: #1D00FF;
    font-size: 4em;
    font-weight: bold;
}

#personcontainer{
    width: 90vw;
    margin: 0 auto;
}

.person {
    width: 700px;
    margin-top: 80px;
    overflow: hidden;
    float: left;
}

.profilepicture {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-size: cover;
    float: left;
}

#one {
    background-image: url(../img/profile1.jpg);
}

#two {
    background-image: url(../img/profile2.jpg);
}

#three {
    background-image: url(../img/profile3.jpg);
}

#four {
    background-image: url(../img/profile4.jpg);
}

.name {
    margin-top: 80px;
    margin-left: 250px;
    overflow: hidden;
}

.name p {
    font-size: 1.4em;
    color: #4B4B4B;
    margin: 10px;
}

.bold {
    font-weight: bold;
}

.email {
    width: 120px;
    border-radius: 6px;
    background: #000000;
    text-decoration: none;
	text-align: center;
    font-family: montserrat;
    font-size: 1em;
    font-weight: bold;
	text-transform: uppercase;
    color: #ffffff;
    display: block;
    padding: 15px;
    margin-top: 20px;
    margin-left: 10px;
}

/* pink hero */

#pinkhero {
    width: 100vw;
    height: 500px;
    background-image: url(../img/pinkhero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 150px;
}

#program {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding-top: 100px;
}

#program h2 {
    font-size: 4em;
}

#program p {
    font-size: 1.6em;
    margin-top: 60px;
}

#program a {
    font-size: 1.2em;
}

#bluebutton {
    max-width: 200px;
    max-height: 30px;
    border-radius: 6px;
    background: #1D00FF;
    text-decoration: none;
	text-align: center;
    font-family: montserrat;
    font-weight: 600;
	text-transform: uppercase;
    color: #FFAFE3;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
}

/* footer */

footer {
    width: 100vw;
    height: 100px;
    background: #000000;
}

footer p {
    text-transform: uppercase;
    position: absolute;
    margin-top: 40px;
    right: 150px;
}

#switch {
    width: 80px;
    height: 41px;
    background-image: url(../img/switch1.svg);
    background-size: cover;
    position: absolute;
    margin-top: 25px;
    right: 25px;
}

/* /light/dark mode */

button {
    background: none;
}

.darkmode {
    background: #000000;
}

.darkmode #nav {
    background: #000000;
}

.darkmode #logo {
    background-image: url(../img/logo2.svg);
}

.darkmode #nav a {
    color: #ffffff;
}

.darkmode #container {
    background: #000000;
}

.darkmode #playlist {
    color: #ffffff;
}

.darkmode .arrow {
    background-image: url(../img/arrow3.svg);
}
.darkmode .ui-state-default {
    background: #000000;
    color: #ffffff;
}

.darkmode .ui-state-active {
    color: #1D00FF;
}

.darkmode .ui-state-active .arrow {
    background-image: url(../img/arrow2.svg);
}

.darkmode .ui-accordion-content {
    background: #000000;
    border-color: #1D00FF;
}

.darkmode #support {
    color: #ffffff;
}

.darkmode .supporttext {
    color: #ffffff;
}

.darkmode .name p{
    color: #ffffff;
}

.darkmode .email {
    background: #ffffff;
    color: #000000;
}

.darkmode #switch {
    background-image: url(../img/switch2.svg);
}

/* mediaquaries */

@media screen and (max-width: 1600px) {
	.person {
        width: 650px;
    }
    
    .toggle {
        left: 45.5%;
    }
}

@media screen and (max-width: 1450px) {
	.person {
		width: 600px;
    }
    
    .toggle {
        left: 45.2%;
    }
}

@media screen and (max-width: 1333px) {
	.person {
        max-width: 550px;
    }
    
    .toggle {
        left: 44.9%;
    }
}

@media screen and (max-width: 1222px) {
    .person {
        margin-left: 10vw;
        margin-top: 80px;
    }

    .rewind {
        left: 35%;
    }

    .toggle {
        top: 45%;
        left: 45%;
    }

    .done {
        right: 35%;
    }
}

@media screen and (max-width: 1110px) {
    .downloads {
        display: none;
    }
}

@media screen and (max-width: 886px) {
    #nav ul {
        padding-top: 35px;
    }
}

@media screen and (max-width: 768px) {
    #hero {
        min-height: 45vh;
    }

    #intro h2 {
        font-size: 2.2em;
    }

    #intro p {
        font-size: 1.4em;
        margin-right: 16vw;
    }

    #playlist {
        font-size: 1em;
    }

    #accordion h3 {
        height: 60px;
        line-height: 60px;
        font-size: 0.9em;
        padding-left: 35px;
    }

    .arrow {
        width: 30px;
        height: 30px;
        top: 15px;
        left: 10px;
    }

    .ui-state-active .arrow {
        top: 10px;
        left: 12px;
    }

    .ui-dialog {
        min-width: 400px;
        min-height: 200px;
        background: #ffffff;
    }
    
    
    .ui-dialog .ui-widget-content p {
        color: #1D00FF;
        font-size: 1.6em;
        font-weight: 600;
        margin-top: 25px;
    }

    #roodintro {
        width: 85px;
        height: 30px;
        background-size: cover;
        top: 15px;
        right: 10px;
    }

    .workshop {
        width: 109px;
        height: 30px;
        background-size: cover;
        top: 15px;
        right: 10px;
    }

    .videoTitle {
        font-size: 0.8em;
    }
    
    .rewind {
        width: 40px;
        height: 40px;
        top: 45%;
        left: 37%;
    }

    .toggle {
        width: 60px;
        height: 60px;
        top: 42%;
        left: 45%;
    }

    .done {
        width: 40px;
        height: 40px;
        top: 45%;
        left: 56%;
    }

    .done2{
        width: 62px;
        height: 30px;
        background-size: cover;
        top: 9px;
        left: 10px;
    }

    #support {
        font-size: 1em;
    }

    .supporttext {
        font-size: 2.2em;
    }

    .person {
        margin-left: 5vw;
    }

    .profilepicture {
        width: 200px;
        height: 200px;
        margin-left: 0;
    }

    .name {
        margin-top: 60px;
        margin-left: 210px;
    }

    .email {
        width: 100px;
        padding: 10px;
    }

    #pinkhero {
        height: 400px;
        margin-top: 80px;
    }

    #program {
        padding-top: 80px;
    }

    #program h2 {
        font-size: 2.2em;
    }

    #program p {
        font-size: 1.2em;
        margin-top: 40px;
    }

    #program a {
        font-size: 1em;
    }

    #bluebutton {
        width: 150px;
        height: 15px;
    }

    footer {
        height: 80px;
    }

    footer p {
        margin-top: 33px;
        right: 100px;
    }

    #switch {
        width: 58px;
        height: 30px;
        right: 20px;
    }
}

@media screen and (max-width: 414px) {
    #logo {
        width: 50px;
        height: 50px;
        top: 5px;
    }

    #nav ul {
        padding-top: 25px;
    }
    #nav li {
        font-size: 0.8em;
    }

    #hero {
        min-height: 45vh;
    }

    #intro h2 {
        font-size: 1.4em;
    }

    #intro p {
        font-size: 1em;
        margin-top: 10px;
        margin-right: 16vw;
        margin-bottom: 20px;
    }

    #container {
        width: 85vw;
        margin-top: -60px;
        padding: 20px;
    }

    #playlist {
        font-size: 0.8em;
    }

    #accordion h3 {
        height: 50px;
        line-height: 50px;
        font-size: 0.7em;
        padding-left: 30px;
    }

    .arrow {
        width: 25px;
        height: 25px;
        top: 13px;
        left: 10px;
    }

    .ui-state-active .arrow {
        top: 9px;
    }

    #roodintro {
        display: none;
    }

    .workshop {
        display: none;
    }

    .videoTitle {
        font-size: 0.8em;
        margin: 10px;
    }
    
    .rewind {
        width: 20px;
        height: 20px;
        top: 46%;
        left: 37.2%;
    }

    .toggle {
        width: 35px;
        height: 35px;
        top: 42%;
        left: 45%;
    }

    .done {
        width: 20px;
        height: 20px;
        top: 46%;
        left: 57.5%;
    }

    .done2{
        width: 41px;
        height: 20px;
        background-size: cover;
        top: 5px;
        left: 10px;
    }

    .ui-dialog {
        min-width: 250px;
        min-height: 200px;
        background: #ffffff;
    }
    
    
    .ui-dialog .ui-widget-content p {
        color: #1D00FF;
        font-size: 1.2em;
        font-weight: 600;
        margin-top: 25px;
    }

    #support {
        font-size: 0.8em;
    }

    .supporttext {
        font-size: 1.4em;
    }

    .person {
        max-width: 330px;
        margin-top: 40px;
        margin-left: 0;
    }

    .profilepicture {
        width: 120px;
        height: 120px;
        margin-left: 0;
    }

    .name {
        margin-top: 35px;
        margin-right: 0px;
        margin-left: 130px;
    }

    .name p {
        font-size: 0.9em;
        margin: 5px;
    }

    .email {
        width: 80px;
        font-size: 0.8em;
        margin-top: 15px;
        margin-left: 5px;
        padding: 8px;
    }

    #pinkhero {
        height: 300px;
        margin-top: 50px;
    }

    #program {
        padding-top: 40px;
    }

    #program h2 {
        font-size: 1.6em;
    }

    #program p {
        font-size: 1em;
        margin-top: 40px;
    }

    #program a {
        font-size: 0.8em;
    }

    #bluebutton {
        width: 120px;
        height: 10px;
        margin-top: 40px;
    }

    footer {
        height: 60px;
    }

    footer p {
        margin-top: 23px;
        right: 100px;
    }

    #switch {
        width: 58px;
        height: 30px;
        right: 20px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 320px) {
    #hero {
        min-height: 75vh;
    }
    
    .person {
        max-width: 280px;
        margin-top: 40px;
        margin-left: 0;
    }

    .profilepicture {
        width: 100px;
        height: 100px;
    }

    .name {
        margin-top: 30px;
        margin-left: 110px;
    }

    .name p {
        font-size: 0.8em;
        margin: 5px;
    }

    .email {
        width: 80px;
        font-size: 0.7em;
        margin-top: 10px;
        margin-left: 5px;
        padding: 6px;
    }
}